* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
}

.section1 {
    text-align: center;
}

div .box1 {
    padding: 50px 10px 50px 10px;
    /*margin-right: 50px;*/
    /*margin-bottom: 10px;*/
    background-color: rgb(243, 99, 207);
}

div .box2 {
    padding: 50px 10px 50px 10px;
    background-color: rgb(10, 177, 233);
}

.section2 {
    padding: 15px 5px 15px 5px;
    background-color: rgb(172, 245, 153);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.section3 {
    text-align: center;
}

div .box3 {
    background-color: rgb(172, 245, 153);
    padding: 5px;
}

div .box4 {
    background-color: rgb(172, 245, 153);
    padding: 5px;
}

div .box5 {
    background-color: rgb(172, 245, 153);
    padding: 5px;
}

.section4 {
    background-color: rgb(196, 196, 196);
    text-align: center;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .section1 {
        display: flex;
    }
    div .box1 {
        margin-right: 10px;
        width: 300px
    }
    .section3 {
        display: flex;
    }
    div .box3 {
        margin-right: 10px;
    }
    div .box4 {
        margin-right: 10px;
    }
}